html {
    background-image: linear-gradient(to bottom, rgb(58, 55, 55), rgb(35, 34, 34));
    background-repeat: no-repeat;
    background-color: rgb(35, 34, 34);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 200px;
}

.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 36vw;
    z-index: 10;
}

.navbarItems {
    background-color: rgb(43, 37, 37);
    margin-top: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    width: 400px;
}

.navbarItems :hover {
    text-decoration: underline;
}

.navButton {
    color: silver;
    text-decoration: none;
}

#home {
    scroll-margin-top: 70px;
}

#what {
    scroll-margin-top: 20px;
}

#why {
    scroll-margin-top: 90px;
}

#skins {
    scroll-margin-top: 200px;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.homeContents img {
    border: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.homeContents h1 {
    text-align: center;
    color:white;
}

.whatContent h1 {
    color: white;
    text-align: center;
    margin-top: 60px;
}

.whatContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whatContent p {
    color: white;
    text-align: center;
    font-size: larger;
    line-height: 35px;
    margin-top: 50px;
}

.whyContent h1{
    color: white;
    text-align: center;
    margin-top: 60px;
}

.whyContent p {
    color: white;
    text-align: center;
    font-size: larger;
    line-height: 35px;
}

.whyImages {
    display: flex;
    flex-direction: row;
    gap: 150px;
    padding-left: 50px;
}

.whyImages p {
    opacity: 50%;
}

.patternTemplate img {
   padding-left: 30px;
}

.caseHardened {
    margin-top: 80px;
}

.skinsStart {
    text-align: center;
    color: white;
    margin-top: 80px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.Skins {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(2,50%);
    gap: 50px;

}

.Skins h1 {
    text-align: center;
    color: white;
}

.skinsContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(104, 100, 100, 0.3);
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    color: white;
    padding: 0px 25px;
}

.skinsContent h2 {
    display: flex;
}

.skinsContent img {
    object-fit: contain;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}
